h1 {
  text-align: center;
  color: #735F3D;
}

.btn-primary {
    color: #735F3D;
    background-color: #C2EFB3;
    font-weight: bold;
}

nav {
  background-color: #C2EFB3;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 25px;
}

nav a:hover {
  color: rgb(19, 7, 60);
  text-decoration: none;
}

body {
  background-color: #746F72;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #97ABB1;
  padding-bottom: 20px;
}